<div class="customSidebar css-1q7pov5">
  <nav class="container sidebar-container css-svjevy">
    <div data-simplebar="init" class="css-1214e4t">
      <div class="simplebar-wrapper" style="margin: 0px;">
        <div class="simplebar-height-auto-observer-wrapper">
          <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
          <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
            <div
              tabindex="0"
              class="simplebar-content-wrapper"
              style="
                height: 100%;
                padding-right: 0px;
                padding-bottom: 0px;
                overflow: hidden;
              "
            >
              <div class="simplebar-content" style="padding: 0px;">
                <div class="sidebar-header css-172sj8f">
                  <div class="css-1su1ft1">
                    <a
                      title="Whitespace"
                      href="https://www.whitespace.se"
                      target="_blank"
                      class="css-ixbm00"
                      ><img
                        src="/static/media/logo.5f8eb78a.svg"
                        alt="Whitespace"
                        class="css-l8z9zc"
                    /></a>
                  </div>
                  <div class="css-c3junj">
                    <button title="Shortcuts" class="css-u64ec6">
                      <svg viewBox="0 0 1024 1024" class="css-ha8kg">
                        <path
                          d="M184 393c66.274 0 120 53.73 120 120s-53.726 120-120 120c-66.286 0-120-53.73-120-120s53.714-120 120-120zM512 393c66.272 0 120 53.73 120 120s-53.728 120-120 120c-66.286 0-120-53.73-120-120s53.714-120 120-120zM840 393c66.272 0 120 53.73 120 120s-53.728 120-120 120c-66.286 0-120-53.73-120-120s53.714-120 120-120z"
                          class="css-kqzqgg"
                        ></path>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="css-0">
                  <form autocomplete="off" class="css-ienbju">
                    <input
                      type="text"
                      id="storybook-explorer-searchfield"
                      placeholder='Press "/" to search...'
                      aria-label="Search stories"
                      class="css-15gv3xy"
                    /><svg viewBox="0 0 1024 1024" class="css-ha8kg">
                      <path
                        d="M218 670a318 318 0 0 1 0-451 316 316 0 0 1 451 0 318 318 0 0 1 0 451 316 316 0 0 1-451 0m750 240L756 698a402 402 0 1 0-59 60l212 212c16 16 42 16 59 0 16-17 16-43 0-60"
                        class="css-kqzqgg"
                      ></path>
                    </svg>
                    <button
                      type="reset"
                      value="reset"
                      title="Clear search"
                      class="css-6lylrw"
                    >
                      <svg viewBox="0 0 1024 1024" class="css-ha8kg">
                        <path
                          d="M586.7 512L936 861.4a52.8 52.8 0 0 1-74.6 74.7L512 586.7 162.6 936A52.8 52.8 0 0 1 88 861.4L437.3 512 88 162.6A52.8 52.8 0 1 1 162.6 88L512 437.3 861.4 88a52.8 52.8 0 1 1 74.7 74.7L586.7 512z"
                          class="css-kqzqgg"
                        ></path>
                      </svg>
                    </button>
                  </form>
                  <section class="css-19bal3c">
                    <a
                      title="Preview wrapper"
                      id="explorerpreview-wrapper"
                      class="css-1uwvbks"
                      href="/?path=/story/preview-wrapper--standard"
                      ><div
                        class="sidebar-item css-18wf2i1"
                        id="preview-wrapper"
                      >
                        <span class="sidebar-expander css-13ct9pe"></span
                        ><svg
                          viewBox="0 0 1024 1024"
                          class="sidebar-svg-icon css-kpzrq4"
                        >
                          <path
                            d="M171 469h298V171H246c-42 0-75 33-75 75v223zm0 86v223c0 42 33 75 75 75h223V555H171zm682-86V246c0-42-33-75-75-75H555v298h298zm0 86H555v298h223c42 0 75-33 75-75V555zM256 85h512c94 0 171 77 171 171v512c0 94-77 171-171 171H256c-94 0-171-77-171-171V256c0-94 77-171 171-171z"
                            class="css-kqzqgg"
                          ></path>
                        </svg>
                        <span>Preview wrapper</span>
                      </div></a
                    ><a title="Sidebar" id="explorersidebar" class="css-1uwvbks"
                      ><div class="sidebar-item css-18wf2i1" id="sidebar">
                        <span class="sidebar-expander css-1w0xb2p"></span
                        ><svg
                          viewBox="0 0 1024 1024"
                          class="sidebar-svg-icon css-kpzrq4"
                        >
                          <path
                            d="M171 469h298V171H246c-42 0-75 33-75 75v223zm0 86v223c0 42 33 75 75 75h223V555H171zm682-86V246c0-42-33-75-75-75H555v298h298zm0 86H555v298h223c42 0 75-33 75-75V555zM256 85h512c94 0 171 77 171 171v512c0 94-77 171-171 171H256c-94 0-171-77-171-171V256c0-94 77-171 171-171z"
                            class="css-kqzqgg"
                          ></path>
                        </svg>
                        <span>Sidebar</span>
                      </div></a
                    >
                    <div class="css-0">
                      <a
                        title="Standard"
                        id="explorersidebar--standard"
                        class="css-1uwvbks"
                        href="/?path=/story/sidebar--standard"
                      >
                        <div
                          class="sidebar-item selected css-1bocql0"
                          id="sidebar--standard"
                        >
                          <span class="sidebar-expander css-1nj2nkt"></span>
                          <svg
                            viewBox="0 0 1024 1024"
                            class="sidebar-svg-icon css-16z45m6"
                          >
                            <path
                              d="M772 1012L511 761l-260 251a49 49 0 0 1-52 10c-18-7-29-24-29-43V132c0-25 21-46 47-46h588c26 0 47 21 47 46v847c0 19-11 36-29 43a49 49 0 0 1-51-10zM545 664l213 205V181H265v688l213-205c9-9 21-14 33-14s24 5 34 14z"
                              class="css-kqzqgg"
                            ></path>
                          </svg>
                          <span>Standard</span>
                        </div>
                      </a>
                    </div>
                    <a
                      title="Storybook"
                      id="explorerstorybook"
                      class="css-1uwvbks"
                      ><div class="sidebar-item css-18wf2i1" id="storybook">
                        <span class="sidebar-expander css-1w0xb2p"></span>
                        <svg
                          viewBox="0 0 1024 1024"
                          class="sidebar-svg-icon css-kpzrq4"
                        >
                          <path
                            d="M171 469h298V171H246c-42 0-75 33-75 75v223zm0 86v223c0 42 33 75 75 75h223V555H171zm682-86V246c0-42-33-75-75-75H555v298h298zm0 86H555v298h223c42 0 75-33 75-75V555zM256 85h512c94 0 171 77 171 171v512c0 94-77 171-171 171H256c-94 0-171-77-171-171V256c0-94 77-171 171-171z"
                            class="css-kqzqgg"
                          ></path>
                        </svg>
                        <span>Storybook</span>
                      </div>
                    </a>
                    <div class="css-0">
                      <a
                        title="Standard"
                        id="explorerstorybook--standard"
                        class="css-1uwvbks"
                        href="/?path=/story/storybook--standard"
                      >
                        <div
                          class="sidebar-item css-r9ecdp"
                          id="storybook--standard"
                        >
                          <span class="sidebar-expander css-1nj2nkt"></span>
                          <svg
                            viewBox="0 0 1024 1024"
                            class="sidebar-svg-icon css-97w6iy"
                          >
                            <path
                              d="M772 1012L511 761l-260 251a49 49 0 0 1-52 10c-18-7-29-24-29-43V132c0-25 21-46 47-46h588c26 0 47 21 47 46v847c0 19-11 36-29 43a49 49 0 0 1-51-10zM545 664l213 205V181H265v688l213-205c9-9 21-14 33-14s24 5 34 14z"
                              class="css-kqzqgg"
                            ></path>
                          </svg>
                          <span>Standard</span>
                        </div>
                      </a>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="simplebar-placeholder"
          style="width: 210px; height: 371px;"
        ></div>
      </div>
      <div
        class="simplebar-track simplebar-horizontal"
        style="visibility: hidden;"
      >
        <div
          class="simplebar-scrollbar"
          style="transform: translate3d(0px, 0px, 0px); display: none;"
        ></div>
      </div>
      <div
        class="simplebar-track simplebar-vertical"
        style="visibility: hidden;"
      >
        <div
          class="simplebar-scrollbar"
          style="transform: translate3d(0px, 0px, 0px); display: none;"
        ></div>
      </div>
    </div>
  </nav>
</div>
